.Counter {
    text-align: center;
    padding: 30px;
    margin: 30px;
}

.header {
    font-size: 50px;
    margin-bottom: 20px;
}

.count {
    font-size: 40px;
    margin-bottom: 20px;
}

.btn {
    margin: 20px;
    padding: 15px;
    border: 1px solid black;
    border-radius: 10px;

    &_blue {
        @extend .btn;
        background-color: rgb(162, 162, 255);
    }

    &_red {
        @extend .btn;
        background-color: rgb(244, 137, 137);
    }

    &_reset {
        @extend .btn;
        background-color: rgb(117, 98, 98);;
    }
}